.header{
  text-align: center;
  margin-bottom: 2em;
}

.header h1 {
  margin-bottom: 0;
}

.header p {
  color: #666;
  margin: 0;
}

svg {
  margin: 0px auto;
  background: #ddd;
  display: inherit;
  border-radius: 15px;
}

/*
 Circles
*/

.g-figures g{
  stroke-width: 10px;
}

.g-figures .figure-circle-outer {
  stroke-width: 16px;
  cursor: pointer;
}

.g-figures .figure-circle-inner {
  stroke: #fff;
  stroke-width: 8px;
  cursor: pointer;
}

.g-figures g:hover .figure-circle-outer {
  stroke: black!important;
}

.g-figures .figure-business .figure-circle-outer {
  stroke: rgb(167, 33, 86);
}

.g-figures .figure-city .figure-circle-outer {
  stroke: #244F8F;
}

.g-figures .figure-property .figure-circle-outer {
  stroke: rgb(70, 167, 143);
}

/*
 Links
*/

.link-inner {
  fill: none;
  stroke: #555;
  stroke-width: 3px;
  cursor: pointer;
}

.g-link:hover .link-inner{
  stroke: #222;
}

.link-outer {
  fill: none;
  stroke: #fff;
  stroke-width: 12px;
  cursor: pointer;
}

.link-circle {
  stroke: #fff;
  stroke-width: 5px;
  fill: #555;
  cursor: pointer;
}

.g-link:hover .link-circle{
  fill: #222;
}